.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: burlywood;
}
button {
    width: 85px;
    height: 30px;
    color: crimson;
    font-weight: bold;
}